body{
    background-image: linear-gradient(to right, rgb(0, 0, 192) , rgb(255, 68, 0));
    text-align: center;
    font-style: oblique;
    color:rgb(0, 47, 255)
}
h1{
    color:rgb(0, 0, 85);
}
.Akaza{
    height: 400px
}
.Rengoku{
    height: 400px
}